<!doctype html>
<title> Stock Price </title>
<link rel=stylesheet href='/static/style_tamene1.css' type=text/css>
<div class=page>
  <h1>STOCK PRICE PLOT </h1>
  <div>
    <h3>
      Please privider ticker name and select a value from the options listed.
    </h3>
  </div>
  <div class=metanav>
    <form id='about.html' method='post' action='/' >
      <p>
    Ticker Code: <input type='text' name='ticker' />
      </p>
      <p>
    Value type: <select type='text' name='column' id="mySelect">
      <option value="close">Closing price</option>
      <option value="open">Opening price</option>
      <option value="low">Low</option>
      <option value="high">Open</option>
    </select>
      </p>
      <p>
    <input type='submit' value='Submit' />
      </p>
    </form>
  </div>
<div>
  <section>
    <h2>The corrosponding plot for ticker ' {{name_ticker}} ' and value of ' {{name_column}} '</h2>
    <img src={{url}} alt="Chart" height="420" width="520" class='center'>
  </section>
</div>
</div>
